* {
    box-sizing: border-box;
}

body {
    text-align: center;
    color: #EEEEEE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0;
    background: #222222;
}

main {
    background-repeat: no-repeat;
    background-size: center;
    background-position: top;
    background-image: url("../images/philadelphia-640.jpg");
    padding: 70px 0 0;
    height: 514px;
}

article {
    background: linear-gradient(black 10px, #CCCCCC 20px);
    padding: 10px 0;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

h1 {
    font-size: 50px;
    padding: 10px 0;
}

a {
    text-decoration: none;
}

.link {
    font-size: 24px;
    margin: 10px;
    padding: 10px;
    background: #222222;
}

.link:hover {
    background: purple;
}

.link:active {
    position: relative;
    top: 2px;
    left: 2px;
}

img, .navLink, #navTitle, #footerTitle {
    cursor: pointer;
}

img {
    margin: 0 auto;
}

img, footer, .block {
    display: block;
}

.block {
    height: 20px;
}

.link, svg, .techIcon, #navTitle {
    display: inline-block;
}

#menu, .navText {
    display: none;
}

.link, .infoTitle {
    color: #00FF2D;
}

.link, .infoBox {
    border-radius: 30px;
    box-shadow: 0 0 30px #00FF2D;
    border: 4px solid purple;
}

.infoBox {
    margin: 40px auto;
    width: 736px;
    background: linear-gradient(purple 48px, #EEEEEE 48px);
    padding: 0 30px 10px;
}

.infoTitle {
    font-size: 36px;
    padding: 6px 0;
    margin-bottom: 10px;
}

.infoContent {
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    color: #111111;
}

.projectTitle {
    font-size: 30px;
    color: #333333;
    text-decoration: underline;
}

.projectImage {
    width: 80%;
}

.techIcon {
    margin: 5px;
    width: 100px;
    height: 100px;
}

nav {
    z-index: 2;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    background: rgba(34, 34, 34, 0.5);
    width: 100%;
    top: 0;
    left: 0;
    transform: background;
    transition: 0.5s;
}

#navTitle {
    margin-left: 10px;
    font-size: 50px;
}

.navAnchor {
    font-size: 20px;
    padding: 15px 0px;
    margin: 0 5px;
    float: right;
}

.navLink, #navTitle, #footerTitle {
    color: #EEEEEE;
    transform: color;
}

.navLink:hover, #navTitle:hover, #footerTitle:hover {
    color: purple;
    transition: 0.25s;
}

nav svg {
    float: right;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    transform: fill;
}

nav > .navLink:hover > svg > g {
    fill: purple;
    transition: 0.25s;
}

footer {
    padding: 30px 0;
    font-size: 20px;
}

footer a {
    font-size: 0;
}

footer svg {
    width: 50px;
    height: 50px;
    margin: 20px;
    transform: fill;
}

footer > .footerLink:hover > svg > g {
    fill: purple;
    transition: 0.25s;
}

.anchor {
    position: relative;
    top: -80px;
}

@media all and (max-width: 756px) {
    #menu {
        display: inline;
    }

    .navAnchor {
        font-size: 30px;
        float: none;
        text-align: right;
        display: block;      
    }

    .navHide {
        display: none;
    }
    
    .navText {
        display: block;
        font-size: 30px;
        padding: 15px 0;
        margin-right: 70px;
        text-align: right;
    }

    nav > .navHide > svg {
        margin: 5px;
        float: right;
        clear: both;
    }

    .infoBox {
        width: 98%;
    }

    .projectImage {
        width: 100%;
    }
}

@media all and (min-width: 641px) and (max-width: 1280px) {
    main {
        background-image: url("../images/philadelphia-1280.jpg");
        height: 1029px;
    }

    nav {
        text-align: left;
    }
}

@media all and (min-width: 1281px) {
    main {
        background-image: url("../images/philadelphia-1920.jpg");
        background-size: 100%;
    }
    
    nav {
        text-align: left;
    }
}

@media all and (max-width: 512px) {
    
    #navTitle {
        font-size: 36px;
        padding: 7px 0;
    }
}