* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0;
    background: #222222;
}

main {
    background: black;
    background-repeat: no-repeat;
    background-size: center;
    background-position: top;
    background-image: url("../images/philadelphia-640.jpg");
    padding: 70px 0 0;
    height: 514px;
}

h1 {
    text-shadow: 1px 1px 10px crimson, -1px 1px 10px crimson, 1px -1px 10px crimson, -1px -1px 10px crimson;
    -webkit-text-stroke: 2px #333333;
    font-weight: bolder;
    padding: 50px 10px;
}

#hi {
    font-size: 50px;
}

#intro {
    font-size: 40px;
}

#profilePic {
    margin: 0 auto;
    background: #222222 url("../images/favicon/favicon-310.png");
    width: 310px;
    height: 310px;
    border-radius: 1000px;
    border: 4px solid crimson;
    padding: 50px auto;
}

article {
    background: linear-gradient(black 10px, #CCCCCC 20px);
    padding: 30px 0;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

a {
    text-decoration: none;
}

.link {
    font-size: 24px;
    margin: 10px;
    padding: 10px;
    background: #222222;
}

.link:hover {
    background: crimson;
}

.link:active {
    position: relative;
    top: 2px;
    left: 2px;
}

img, .navLink, #navTitle, #footerTitle {
    cursor: pointer;
}

img {
    margin: 0 auto;
}

hr {
    margin: 30px auto;
}

img, footer, .block {
    display: block;
}

.link, svg, .techIcon, #navTitle {
    display: inline-block;
}

#menu, .navText {
    display: none;
}

body, .link, .infoTitle, .infoContent > a, .navLink, #navTitle, #footerTitle {
    color: #EEEEEE;
}

.link, .infoBox {
    border-radius: 30px;
    box-shadow: 0 0 30px maroon;
    border: 4px solid crimson;
}

.infoBox {
    width: 736px;
    background: linear-gradient(crimson 48px, #EEEEEE 48px);
    padding: 0 0px 10px;
    margin: 0 auto;
}

.infoBox:first-of-type {
    margin: 30px auto 0;
}

.infoTitle {
    font-size: 36px;
    padding: 6px 0;
    margin-bottom: 10px;
}

.infoContent {
    padding: 0 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    color: #111111;
}

.infoContent > a {
    background: crimson;
    font-weight: bold;
    padding: 0 6px;
    border-radius: 30px;
    border: 2px solid crimson;
}

.projectTitle {
    font-weight: bold;
    font-size: 30px;
    color: maroon;
    text-decoration: underline;
}

.projectImage {
    width: 80%;
}

.techIcon {
    margin: 5px;
    width: 100px;
    height: 100px;
}

nav {
    z-index: 2;
    padding: 10px 0 0;
    text-align: left;
    position: fixed;
    background: rgba(34, 34, 34, 0.5);
    width: 100%;
    top: 0;
    left: 0;
    transform: background;
    transition: 0.5s;
}

#navTitle {
    margin-left: 10px;
    font-size: 50px;
    padding: 0 0 10px;
}

.navAnchor {
    font-size: 20px;
    padding: 15px 4px;
    margin: 0 0 0 8px;
    float: right;
}

.navLink, #navTitle, #footerTitle {
    transform: color;
}

.navLink:hover, #navTitle:hover, #footerTitle:hover {
    color: crimson;
    transition: 0.25s;
}

.svgLink {
    margin: 0 5px;
}

nav svg {
    float: right;
    width: 50px;
    height: 50px;
    transform: fill;
}

nav > .navLink:hover > svg > g {
    fill: crimson;
    transition: 0.25s;
}

footer {
    padding: 30px 0;
    font-size: 20px;
}

footer a {
    font-size: 0;
}

footer svg {
    width: 50px;
    height: 50px;
    margin: 20px;
    transform: fill;
}

footer > .footerLink:hover > svg > g {
    fill: crimson;
    transition: 0.25s;
}

.anchor {
    position: relative;
    top: -80px;
}

.svgAnchor {
    display: none;
}

@media all and (max-width: 756px) {
    #menu, .svgAnchor {
        display: inline;
    }

    .navAnchor, .navText {
        display: block;      
        font-size: 30px;
        margin-right: 70px;
        text-align: right;
        padding: 15px 0;
    }
    
    .navAnchor {
        float: none;
    }
    
    .navHide {
        border-bottom: 2px solid crimson;
        display: none;
    }
    
    .navHide:first-of-type {
        border-top: 2px solid crimson;
    }
    
    nav > .navHide > svg{
        margin: 5px;
        float: right;
        clear: both;
    }

    .infoBox {
        width: 98%;
    }

    .projectImage {
        width: 100%;
    }

    nav {
        text-align: center;
    }
}

@media all and (min-width: 920px) {
    .svgAnchor {
        display: inline-block;
    }
    #hi {
        font-size: 60px;
    }
    #intro {
        font-size: 50px;
    }
}

@media all and (min-width: 641px) and (max-width: 1280px) {
    main {
        background-image: url("../images/philadelphia-1280.jpg");
        height: 1029px;
    }
}

@media all and (min-width: 1281px) {
    main {
        background-image: url("../images/philadelphia-1920.jpg");
        background-size: 100%;
    }
}
@media all and (min-width: 513px) and (max-width: 756px) {
    h1 {
        -webkit-text-stroke-width: 2px;
    }
    #hi {
        font-size: 48px;
    }
    #intro {
        font-size: 36px;
    }
}

@media all and (max-width: 512px) {
    #navTitle {
        padding: 7px 0 17px;
    }
    h1 {
        -webkit-text-stroke-width: 1px;
    }
    #hi, #navTitle {
        font-size: 36px;
    }
    #intro {
        font-size: 30px;
    }
}

@media all and (max-width: 359px) {
    .infoContent {
        font-size: 16px;
    }

    .projectTitle {
        font-size: 24px;
    }

    .techIcon {
        width: 80px;
        height: 80px;
    }
}